@use "colors" as *;
@use "mixins" as *;

.dark .not_found_page {
    background-color: $main-color2;
}

.not_found_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 3rem 0;

    @include desktop {
        padding: 8rem 0;
    }

    p {
        max-width: 90%;
        margin: 2rem 0;

        @include desktop {
            max-width: 60%;
        }
    }

    button {
        background-color: $main-color;
        padding: .5rem 1rem;
    }

    img {
        margin-top: 2rem;
        width: 90%;
        height: auto;

        @include desktop {
            max-width: 600px;
        }
    }
}