.about {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 2rem 0;
    
    img {
        width: 100%;
    }
    p {
        max-width: 800px;
        text-align: justify;
    }
}