.light-theme {
    .footer {
        .icon {
            color: black;
            // width: 40px;
        }
    }
}

.footer {
    
    img {
        width: 30px;
        
    }
    a {
        cursor: pointer;
    }
    
    .icon {
        height: 40px;
        color: white; 
    }     
}