.light-theme {
    // .footer {
    //     background: #f8f9fa;
    //     .icon {
    //         color: black;
    //     }
    // }
}

.footer {
    display: flex;
    width: 100%;
    background: $main-color2;
    padding: 3rem 0;
    
    @include desktop {
        flex-direction: row;
        justify-content: space-around;        
    }

    @include mobile {
        flex-direction: column;
    }

    @include tablet {
        justify-content: space-around;        
    }
    
    .info {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 30%;

        @include mobile {
            width: 90%;
        }

        h1 {
            color: $white-color;
            margin-bottom: 2rem;
        }
        
        .map {
            width: 100%;
            height: 200px;
            min-width: 250px;
            min-height: 200px;

            @include desktop {
                height: 300px;
            }
        }

        .logo {
            width: 200px;           
        }
    
        @include mobile-tablet {
            flex-direction: column;
            height: 30vh;
        }

        h5 {
            color: $white-color;
        }
    
        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            color: $white-color;

            h5 {
                margin-left: 1rem;
                text-decoration: none;
            }
        }

        .in {
            width: 30px;
            margin-top: 1rem;
        }

        .icon {
            height: 20px;
        }     
    }
}