$main-color: #3498db;
$accent-color: #940505;
$dark-background-color: radial-gradient(circle, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 100%);
$light-background-color: radial-gradient(circle, rgb(171, 207, 226) 0%, rgb(228, 228, 228) 100%);