* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(174,176,238,1) 0%, rgba(3,20,41,1) 100%);
}

h1, h2, h3, h4, h5, p {
    // font-family: $font-main;
    color: white;
}

h1 {

    @include mobile {
        font-size: 1.8rem;
    }
}

h2 {
font-size: 2.2rem;

    @include mobile {
        font-size: 1.6rem;
    }
}

p {
    font-size: 1.2rem;

    @include mobile {
        font-size: 1rem;
    }
}