* {
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-theme {
    body {
        background: radial-gradient(circle, rgb(171, 207, 226) 0%, rgb(228, 228, 228) 100%);
    }
    
    h1, h2, h3, h4, h5, p, a, Link{
        color: #000; 
    }
}

.dark-theme {
    body {
        background: radial-gradient(circle, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 100%);
    }

    h1, h2, h3, h4, h5, p, a, Link {
      color: #fff;
    }
}

h1 {

    @include mobile {
        font-size: 1.6rem;
    }
}

h2 {
    font-size: 2.2rem;

    @include mobile {
        font-size: 1.4rem;
    }
}

p {
    font-size: 1.2rem;

    @include mobile {
        font-size: 1rem;
    }
}