.markdown_content {
    white-space: normal;

    strong {
        font-weight: 700;
    }

    em {
        font-style: italic;
    }

    del {
        text-decoration: line-through;
    }

    u {
        text-decoration: underline;
    }

    a {
        text-decoration: underline;
    }

    ul,
    ol {
        padding-left: 1.5rem;
    }

    li {
        padding-bottom: 0.5rem;
    }

    h2,
    h3,
    h4 {
        margin: 2rem 0 1rem 0;
    }

    p {
        padding: 1rem 0;
    }
}