.markdown_content {

    p {
        margin-bottom: 1rem;
        line-height: 1.7;
    }

    strong {
        font-weight: 700;
    }

    em {
        font-style: italic;
    }

    del {
        text-decoration: line-through;
    }

    u {
        text-decoration: underline;
    }

    a {
        text-decoration: underline;
    }

    ul,
    ol {
        margin-bottom: 1rem;
        padding-left: 1.5rem;
    }

    li {
        margin-bottom: 0.35rem;
    }

    h2,
    h3,
    h4 {
        margin: 1.5rem 0 0.75rem;
    }
}