@use "tailwindcss";
@use "./styles/index" as *;

* {
    box-sizing: border-box;
}

/* absolutny override – nawet jeśli ktoś gdzieś dodał smooth */
html, body {
    scroll-behavior: auto !important;
} 
  
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light {
    // body {
    //     background: $light-background-color;
    // }
    
    h1, h2, h3, h4, h5, p, a, Link{
        color: #000; 
    }
}

.dark {
    // body {
    //     background: $dark-background-color;
    // }

    h1, h2, h3, h4, h5, p, a, Link, button {
      color: #fff;
    }
}

h1 {
    font-size: 2.4rem;

    @include mobile {
        font-size: 1.8rem;
    }
}

h2 {
    font-size: 2.2rem;

    @include mobile {
        font-size: 1.4rem;
    }
}

h3 {
    font-size: 1.5rem;
    
    @include mobile {
        font-size: 1.3rem;
    }
}

p {
    font-size: 1.2rem;

    @include mobile {
        font-size: 1rem;
    }
}

a:focus,
button:focus,
.nav-link:focus,
.nav_dropdown_button:focus {
  outline: none !important;
  box-shadow: none !important;
}

::-moz-focus-inner {
  border: 0;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("/fonts/fa-solid-900.woff2") format("woff2"),
       url("/fonts/fa-solid-900.ttf") format("ttf");
}